<%- include('../partials/header') %>

<h1>VideoGame Music Fest</h1>

<h2>Before adding, please ensure that the track is not already listed</h2>

<h2>Add your music track</h2>

<section id="addMusicForm">
<form action="/games/<%= gameID %>/musics" method="POST" >
    <label>Game Title:</label>
    <select name="game" id="chooseGameTitle">
        <% games.forEach(function(r) { %>
            <option value="<%= r._id %>"><%= r.title %></option>
        <% }); %>
    </select>
    <label>Track Title:</label>
    <input type="text" name="title">
    <label>Track URL:</label>
    <input type="text" name="musicUrl">
    <div>
        <input class="submitBtn" type="submit" value="Add Music Track">
    </div>
</form>
</section>

<%- include('../partials/footer') %>