<%- include('../partials/header') %>
<br>
  <h1><%= music.title %></h1>
<br>

<iframe width="1280" height="720" src= <%= music.musicUrl %> allowfullscreen></iframe>

<br>
<h2>Comments</h2>
<!-- Comment -->
<% if (user) { %>
    <form id="add-comment-form" method="POST"
    action="/musics/<%= music._id %>/comments">
    <label>Comment:</label>
    <textarea name="content" rows="4" cols="50"></textarea>
    <input type="submit" value="Add comment">
    </form>
<% } %>

<% if (music.comments.length) { %>
    <table id="commentBox">
        <thead>
          <tr>
            <th>User</th>
            <th>Date</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
            <% music.comments.forEach(function(m) { %>
              <tr>
                <td class="comment-user"><img id="portrait" alt="avatar" src="<%= m.userAvatar %>" referrerpolicy="no-referrer"> <%= m.userName %></td>
                <td><%= m.createdAt.toLocaleDateString() %></td>
                <td><%= m.content %></td>
                <td>
                    <% if (user?._id.equals(m.user)) { %>
                      <form action="/comments/<%= m._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                      </form>
                    <% } %>
                </td>
              </tr>
            <% }); %>
        </tbody>
    </table>
<% } else { %>
    <h5>No Comments Yet</h5>
<% } %>

<br><br><br><br><br>
<%- include('../partials/footer') %>