<%- include('../partials/header') %>
<br>
  <h1><%= music.title %></h1>
<br>

<iframe width="1280" height="720" src= <%= music.musicUrl %> allowfullscreen></iframe>

<!-- Comment -->
<% if (music.comments.length) { %>
    <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Date</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
            <% music.comments.forEach(function(m) { %>
              <tr>
                <td class="comment-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer"> <%= m.userName %></td>
                <td><%= m.createdAt.toLocaleDateString() %></td>
                <td><%= m.content %></td>
                <td>
                  <% if (user?._id.equals(m.user)) { %>
                    <form action="/comments/<%= m._id %>?_method=DELETE" method="POST">
                      <button type="submit">X</button>
                    </form>
                  <% } %>
                </td>
              </tr>
            <% }); %>
        </tbody>
    </table>
<% } else { %>
    <h5>No Comments Yet</h5>
<% } %>

<%- include('../partials/footer') %>