<%- include('../partials/header') %>
<br>
  <h1><%= game.title %></h1>
<br>

<h2>Musics</h2>

<br>

<% if (musics.length) { %>
    <table id="musicList">
        <thead>
            <tr>
              <th>Title</th>
              <th>Uploaded By</th>
              <th>Upload Date</th>
              <th>VIEW</th>
            </tr>
          </thead>
        <tbody>
        <% musics.forEach(function(s) { %>
            <tr>
                <td><%= s.title %></td>
                <td><%= s.userName %></td>
                <td><%= s.createdAt.toLocaleDateString() %></td>
                <td><a href="/musics/<%= s._id %>">VIEW</a></td>
                <td>
                    <% if (user?._id.equals(s.user)) { %>
                        <form id="delete-music-form" method="POST"
                        action="/games/<%= game._id %>/musics/<%= s._id %>?_method=DELETE">
                        <button>X</button>
                        </form>
                    <% } %>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
<% } else { %>
    <h3>No musics Yet :( <br> Be the first to add one!</h3>
<% } %>

<% if (user) { %>
    <div id="uploadButton"><a href="/games/<%= game._id %>/musics/new">Want to upload? Click here!</a></div>
<% } %>

 </main>
</body>
</html>